body{
    display: flex;
}

.book-container{
width: 30%;
display: flex;
flex-direction: column;
}

.book-list{
    width: 100%;
   
    flex-direction: column;
    margin-left: 50px;
    align-items: center;

}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}